body {
  background-color: rgb(255,253,203);
}

h1 {
  color: rgb(152,80,60);
  margin-left: 20px;
  margin-right:20px;
}
h2 {
  color: rgb(152,80,60);
  margin-left: 20px;
  margin-right:20px;
}
p1 {
  color: rgb(152,80,60);
  margin-left: 20px;
  margin-right:20px;
}